extends layout
block content
    h1 #{profile.username}'s Profile
    form(action='/a/users/profile/#{profile.userId}', method='post')
        div Current Role: #{profile.roles} 
        div Current Status: #{profile.status}
        br
        label Update Role:
        br
        br
        if (profile.roles == 'user')
            span(class='current')
                |#[input(type='radio' name='role' value='1' checked)] User
            |#[input(type='radio' name='role' value='2' required)] Admin
        else
            |#[input(type='radio' name='role' value='1' required)] User
            span(class='current')
                |#[input(type='radio' name='role' value='2' checked)] Admin
        br
        br
        label Update Status:
        br
        br
        if (profile.status == 'enabled')
            span(class='current')
                |#[input(type='radio' name='status' value='enabled' checked)] Enable
            |#[input(type='radio' name='status' value='disabled' required)] Disable
        else
            |#[input(type='radio' name='status' value='enabled' required)] Enable
            span(class='current')
                |#[input(type='radio' name='status' value='disabled' checked)] Disable
        br
        br
        br
        input(type='submit' value='Submit')
    if error != ''
    label(class='error') #{error}